{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 col-md-8 mx-auto">
            <div class="text-center">
                <img src="{{url_for('static', filename='pup.jpg')}}" style="max-width: 250px; height: auto; border-radius: 25px; box-shadow: 0 0 10px rgb(200,200,200);">
            </div>
            <h1 class="my-2 text-center">Jersey PAWS System</h1>
            <h4 class="text-center">Register Puppy</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <form method="POST">
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.hidden_tag()}}
                    </div>
                    <div class="col-7 col-sm-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.owner_id.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        <SELECT name="owner_id" class="col-12 input">
                            {% for id in owner_list %}
                            <OPTION value={{ id.owner_id }}>{{id.owner_name.capitalize()}}</OPTION>
                            {% endfor %}
                        </SELECT>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.puppy_name.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        {{form.puppy_name(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.age.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        {{form.age(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.gender.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        <SELECT name="gender" class="col-12 input">
                            {% for gender in gender_list %}
                            <OPTION value="{{ gender }}">{{gender.lower()}}</OPTION>
                            {% endfor %}
                        </SELECT>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.height_inches.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        {{form.height_inches(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.color.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        {{form.color(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">
                        {{form.favorite_food.label}}
                    </div>
                    <div class="col-7 col-sm-8">
                        {{form.favorite_food(class="col-12 input")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        {{form.submit(class="mt-4 col-3 btn btn-primary")}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}