{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 col-md-8 mx-auto">
            <div class="text-center">
                <img src="{{url_for('static', filename='pup.jpg')}}"
                    style="max-width: 250px; height: auto; border-radius: 25px; box-shadow: 0 0 10px rgb(200,200,200);">
            </div>
            <h1 class="my-2 text-center paws_other">Jersey PAWS System</h1>
            <h4 class="text-center">Remove Puppy</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">

            <div class="row">
                <div class="col-5 col-sm-4" style="font-family: 'Sawarabi Mincho', sans-serif;">

                </div>
                <div class="col-7 col-sm-8">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 mb-3">
                    <h3>List of Puppies <span style="font-size: .7em;">(by owner)</span></h3>
                </div>
            </div>

            {% for owner in owner_list if owner.puppies %}

            <div class="row" class="owner-borders">
                <div class="col-12 owner-borders" style="font-family: 'Sawarabi Mincho', sans-serif; font-size: 1.1em;">

                    <div class="row">
                        <div class="col-12 col-sm-4">Owner Name: </div>
                        <div class="col-12 col-sm-8">{{ owner.owner_name.title() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4"> </div>
                        <div class="col-12 col-sm-8" style="font-size: .85em;">{{ owner.address.title() }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4"> </div>
                        <div class="col-12 col-sm-8" style="font-size: .85em;">{{ owner.city.title() }}, {{
                            owner.state.upper() }} {{ owner.zipcode }}</div>
                    </div>

                </div>
                <div class="col-12">

                    {% for pup in owner.puppies | sort(attribute='puppy_name') %}

                    <div class="row d-flex align-items-start">
                        <div class="col-12 mt-2">
                            <span class="pup-name pl-md-3">{{ pup.puppy_name.title() }}</span><br>
                            <div class="row">
                                <div class="col-4 pl-md-5">
                                    <span>Age: </span><br>
                                    <span>Gender: </span><br>
                                    <span>Height: </span><br>
                                    <span>Color: </span><br>
                                    <span>Favorite Food: </span><br>
                                </div>
                                <div class="col-4">
                                    <span>{{ pup.age }}</span><br>
                                    <span>{{ pup.gender }}</span><br>
                                    <span>{{ pup.height_inches }} in.</span><br>
                                    <span>{{ pup.color }}</span><br>
                                    <span>{{ pup.favorite_food.title() }}</span><br>
                                </div>
                                <div class="col-4 d-flex align-items-start justify-content-center">
                                    <form method="POST">
                                        {{form.hidden_tag()}}
                                        {{ form.puppy_id(style="display:none", value=pup.puppy_id) }}
                                        {{form.submit(class="my-1 btn btn-primary")}}
                                    </form>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}