{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-12">
            <h2>Welcome to Jersey's</h2>
            <h1>PAWS</h1>
            <p class="text-center">(Puppies Analytics Warehousing System)</p>
        </div>
    </div>
    <div class="row">
            <img src="{{url_for('static', filename='pup.jpg')}}" style="max-width: 500px; height: auto; border-radius: 50px; margin: auto; margin-top: 25px; box-shadow: 0 0 10px rgb(200,200,200);">
        </div>  
    </div>
</div>

{% endblock %}